{{ define "main" }}
{{ if eq .Type "post" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
{{- if .Params.series -}}
  {{- with index (.GetTerms "series") 0 -}}
    <div class="notice--info">
      <p>This post is part of the <a href="{{ .Permalink }}" style="font-weight: bold">{{ .LinkTitle }}</a> series.</p>
    </div>
  {{- end -}}
{{- end -}}
<content>
  {{ .Content }}
  {{- if .Params.series -}}
  <div class="post-series">
    {{- $series := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series -}}
    {{- with $series -}}
    <h3 id="series">This series</h3>
    <ol>
        {{- range . -}}
        <li>
            {{- if eq .File.UniqueID $.File.UniqueID -}}
                <b>{{ .Title }}</b>
            {{- else -}}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end -}}
        </li>
        {{- end -}}
    </ol>
    {{- end -}}
  </div>
{{- end -}}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
